<div class="container">
  <h3>Downloads</h3>
  <ul>
    <li><a href='../files/README'>README</a></li>
    <li>
      <form id="download_form" action="./handler.cgi" method="get">
        <fieldset>
          <input type="hidden" name="download" value="all"/>
          <a href='#' onclick="document.getElementById('download_form').submit();">All DD gene-disease pairs and attributes (G2P.csv)<img src="../images/export.png" alt="export"></a>
        </fieldset>
      </form>
    </li>
  </ul>
</div>
