<div>
  <footer  class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <ul class="bs-docs-footer-links text-muted">
        <li><img src="../images/sanger.png" alt="sanger" height="55" width="150"></li>
        <li>&middot;</li>
        <li>Currently v0.1</li>
        <li>&middot;</li>
        <li><img src="../images/EBI.png" alt="sanger" height="55" width="150"></li>
<!--
        <li>&middot;</li>
        <li><a href="/">About</a></li>
        <li>&middot;</li>
        <li><a href="/">Terms of Use</a></li>
        <li>&middot;</li>
        <li><a href="/">Contact Us</a></li>
        <li>&middot;</li>
        <li><a href="/">Help</a></li>
-->
      </ul>
    </div>
  </footer>
</div>
