<div>
  <footer  class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <ul class="bs-docs-footer-links text-muted">
        <li>Currently v0.1</li>
        <li>&middot;</li>
        <li><a href="http://localhost/~anjathormann/ddg2p/">About</a></li>
        <li>&middot;</li>
        <li><a href="http://localhost/~anjathormann/ddg2p/">Terms of Use</a></li>
        <li>&middot;</li>
        <li><a href="http://localhost/~anjathormann/ddg2p/">Contact Us</a></li>
        <li>&middot;</li>
        <li><a href="http://localhost/~anjathormann/ddg2p/">Help</a></li>
      </ul>
    </div>
  </footer>
</div>
