<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <!--meta http-equiv="Content-Type" content="text/html; charset=utf-8"/-->
    <title>gene2phenotype</title>
    <link rel="stylesheet" type="text/css" href="../htdocs/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../htdocs/css/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="../htdocs/css/nv.d3.css"/>
    <link rel="stylesheet" type="text/css" href="../htdocs/css/G2P.css"/>
    <link rel="stylesheet" type="text/css" href="../htdocs/css/docs.min.css"/>
    <link rel="stylesheet" type="text/css" href="../htdocs/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../htdocs/js/jstree/themes/default/style.min.css" />
    <script type="text/javascript" src="../htdocs/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../htdocs/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../htdocs/js/d3.min.js"></script>
    <script type="text/javascript" src="../htdocs/js/nv.d3.js"></script>
    <script type="text/javascript" src="../htdocs/js/behavior.js"></script>
    <script type="text/javascript" src="../htdocs/js/piecharts.js"></script>
    <script type="text/javascript" src="../htdocs/js/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="../htdocs/js/ontology_tree.js"></script>
    <script type="text/javascript" src="../htdocs/js/jquery.dataTables.min.js"></script>
  </head>

  <body>
    <TMPL_INCLUDE NAME="Header.tmpl">
    <TMPL_INCLUDE NAME="Search.tmpl">

    <TMPL_IF NAME="display_search_results">
      <TMPL_INCLUDE NAME="SearchResults.tmpl">
    </TMPL_IF> 

    <TMPL_IF NAME="downloads">
      <TMPL_INCLUDE NAME="Downloads.tmpl">
    </TMPL_IF> 

    <TMPL_IF NAME=display_gfd>
      <div class="container">
        <h3 class="title"><a class="anchor" name="top">Panel: <em><TMPL_VAR NAME=panel></em> Gene: <em><TMPL_VAR NAME=gene_symbol></em> Disease: <em><TMPL_VAR NAME=disease_name></em></a></h3>
        <div class="clear"></div>
        <ul id="legend">
          <li><a href="#GD_attribs">Gene-Disease Attributes</a></li>
          <li><a href="#publications">Publications</a></li>
          <li><a href="#phenotypes">Phenotypes</a></li>
          <li><a href="#organ_specificity">Organ specificity</a></li>
          <li><a href="#disease">Disease</a> </li>
          <li><a href="#gene">Gene</a></li>
          <TMPL_IF NAME="logged_in">        
            <li><a href="#user_activity">User activity</a></li>
          </TMPL_IF>
        </ul> 

        <TMPL_IF NAME="logged_in">        
          <div class="form-group visibility">
            <form role="form" method="get" action="./handler.cgi">
              <select name="visibility">
                <TMPL_IF NAME="authorised">
                  <option value="authorised" selected>Authorised. Visible to all users.</option>
                  <option value="restricted">Restricted. Visible to editors only.</option>
                <TMPL_ELSE>
                  <option value="authorised">Authorised. Visible to all users.</option>
                  <option value="restricted" selected>Restricted. Visible to editors only.</option>
                </TMPL_IF>
              </select> 
              <div class="align_buttons_right">
                <input name="GFD_id" value="<TMPL_VAR NAME=GFD_id>" type="hidden">
                <input id="button" type="submit" name="set_visibility" value="Update" class="btn btn-primary btn-sm"/>
              </div>
            </form>
          </div>
        </TMPL_IF>
        <TMPL_INCLUDE NAME="GeneDiseaseAttributes.tmpl">
        <TMPL_INCLUDE NAME="Publication.tmpl">
        <TMPL_INCLUDE NAME="Phenotype.tmpl">
        <TMPL_INCLUDE NAME="Organ.tmpl">
        <TMPL_INCLUDE NAME="Variants.tmpl">
        <TMPL_INCLUDE NAME="Disease.tmpl">
        <TMPL_INCLUDE NAME="Gene.tmpl">
        <TMPL_IF NAME="logged_in">        
          <TMPL_INCLUDE NAME="Logs.tmpl">
        </TMPL_IF>
      </div> <!-- END Results-->
    </TMPL_IF>
    <TMPL_IF NAME=display_disease>
      <div class="container">
        <TMPL_INCLUDE NAME="Disease.tmpl">
      </div> <!-- END Results-->
    </TMPL_IF>
    <TMPL_IF NAME=display_gene>
      <div class="container">
        <TMPL_INCLUDE NAME="Gene.tmpl">
      </div> <!-- END Results-->
    </TMPL_IF>
    <TMPL_IF NAME=new_gene_disease>
      <div class="container">
        <TMPL_INCLUDE NAME="NewGeneDisease.tmpl">
      </div> <!-- END Results-->
    </TMPL_IF>
  
    <TMPL_IF NAME=disclaimer>
      <div class="container">
        <TMPL_INCLUDE NAME="Disclaimer.tmpl">
      </div> <!-- END Results-->
    </TMPL_IF>
    <TMPL_INCLUDE NAME="Footer.tmpl">
  </body>
</html>
