<div>
  <h3><a class="anchor" name="user_activity">User activity</a><a title="Back to Top" href='#top'><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></h3>

  <TMPL_IF NAME=gfd_logs>
    <label>DDD Category</label>
    <TMPL_LOOP NAME=gfd_logs>
    <div class="comment">
      <div class="align_left"><p><strong>Action:</strong> <TMPL_VAR NAME=action>, <strong>DDD category:</strong> <TMPL_VAR NAME=DDD_category> (<TMPL_VAR NAME=user> <TMPL_VAR NAME=date>)</p></div> 
    </div>
    <div class="clear"></div>
    </TMPL_LOOP>
  </TMPL_IF>

  <TMPL_IF NAME=gfda_logs>
    <label>Gene-Disease Mechanism</label>
    <TMPL_LOOP NAME=gfda_logs>
    <div class="comment">
      <div class="align_left"><p><strong>Action:</strong> <TMPL_VAR NAME=action>, <strong>Allelic requirement:</strong> <TMPL_VAR NAME=allelic_requirement>, <strong>Mutation consequence:</strong> <TMPL_VAR NAME=mutation_consequence> (<TMPL_VAR NAME=user> <TMPL_VAR NAME=date>)</p></div> 
    </div>
    <div class="clear"></div>
    </TMPL_LOOP>
  </TMPL_IF>
</div>
