<div class="new_gene_disease">
  <h3>Add new gene-disease:</h3>
  <form class="form-horizontal" id="add_gene_disease" method="get" action"./handler.cgi">
    <div class="form-group">
      <label class="col-sm-2 control-label">Panel </label>
      <div class="col-sm-10">
        <select class="form-control" name="panel">
          <TMPL_LOOP NAME=panel_img_loop>
            <option value="<TMPL_VAR NAME=panel_attrib_value>" <TMPL_VAR NAME=selected>><TMPL_VAR NAME=panel_attrib_value></option>
          </TMPL_LOOP>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Gene name</label>
      <div class="col-sm-10">
        <input id="query_gene_name" type="text" name="gene_name" placeholder="Select gene name" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Disease name</label>
      <div class="col-sm-10">
        <input id="query_disease_name" type="text" name="disease_name" placeholder="Select disease name" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input id="button" type="submit" name="add_gene_disease" value="Add" class="btn btn-primary btn-sm"/>
      </div>
    </div>
  </form>
</div>
