<div class="new_gene_disease">
  <h3>Add new gene-disease:</h3>
  <form id="add_gene_disease" method="get" action"./handler.cgi">
    <div class="form-group">
      <label>Gene name</label>
      <input id="query_gene_name" type="text" name="gene_name" placeholder="Select gene name" class="form-control">
    </div>
    <div class="form-group">
      <label>Disease name</label>
      <input id="query_disease_name" type="text" name="disease_name" placeholder="Select disease name" class="form-control">
    </div>
    <TMPL_IF NAME=add_new_gene_disease>
      <input id="button" type="submit" name="add_gene_disease" value="Add" class="btn btn-primary btn-sm"/>
    <TMPL_ELSE>
      <form id="login_form" action="./handler.cgi" method=get>
        <input id="button" type="submit" name="login" value="Add" class="btn btn-primary btn-sm"/>
      </form>
    </TMPL_IF>
  </form>
</div>
