<div>
  <div id="organs">
    <div class="show_db_content">
      <h3>Organ specificity</h3>
      <ul>
        <TMPL_LOOP NAME=organs>
          <li><TMPL_VAR NAME=name></li>
        </TMPL_LOOP>
      </ul> 
      <div class="show_toggle_view_button">
        <TMPL_IF NAME=logged_in>
          <input type="button" name="show_edit_content" value="Edit Organ Specificity List" class="btn btn-primary btn-sm edit"/>
        <TMPL_ELSE>
          <form id="login_form" action="./handler.cgi" method=get>
            <input type="hidden" name="search_type" value="<TMPL_VAR NAME=search_type>"/>
            <input type="hidden" name="dbID" value="<TMPL_VAR NAME=dbID>"/>
            <input id="button" type="submit" name="login" value="Edit Organ Specificity List" class="btn btn-primary btn-sm edit"/>
          </form>
        </TMPL_IF>
      </div>
      <div class="clear"></div>
    </div>

    <div class="show_edit_content">
      <h4>Edit organ specificity list:</h4>
      <form role="form" method="get" action="./handler.cgi">
        <div class="form-group">
          <label>Organ specificity:</label><br>
          <TMPL_LOOP NAME=edit_organs_loop>
            <input type="checkbox" name="organ" value="<TMPL_VAR NAME=organ_id>" <TMPL_VAR NAME=checked>> <TMPL_VAR NAME=organ_name><br>
          </TMPL_LOOP>
        </div>
        <div class="align_buttons_right">
          <input name="genomic_feature_disease_id" value="<TMPL_VAR NAME=GFD_id>" type="hidden">
          <input id="button" type="submit" name="edit_organ_list" value="Save" class="btn btn-primary btn-sm"/>
          <input type="button" value="Discard" class="btn btn-primary btn-sm discard"/>
        </div>
      </form>
    </div> <!--End show edit content -->
  </div> <!--End organs-->
</div>
