<div>
  <h3>Phenotypes</h3>
  <ul>
    <TMPL_LOOP NAME=phenotypes>
      <li><a href="http://www.human-phenotype-ontology.org/hpoweb/showterm?id=<TMPL_VAR NAME=stable_id>"><TMPL_VAR NAME=stable_id></a></li>
    </TMPL_LOOP>
  </ul> 
</div>
