<div>
  <h3><a class="anchor" name="phenotypes">Phenotypes</a><a title="Back to Top" href='#top'><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a></h3>
  <div id="ontology">  
    <label>Select Phenotypes from the Human Phenotype Ontology:</label>
    <div id="phenotype_tree">
      <span id="<TMPL_VAR NAME=GFD_id>"></span> 
    </div>
    <div>
      <TMPL_IF NAME=logged_in>
        <form id="update_phenotype_tree" role="form" method="get" action="./handler.cgi">
          <div class="align_buttons_right">
            <input type="hidden" name="GFD_id" value="<TMPL_VAR NAME=GFD_id>"/>
            <input type="hidden" name="phenotype_ids" value="<TMPL_VAR NAME=phenotype_ids_list>"/>
            <input id="button" type="submit" value="Update Phenotype Tree" class="btn btn-primary btn-sm" name="update_phenotype_tree"/>
          </div>
        </form>
      <TMPL_ELSE>
        <form id="login_form" action="./handler.cgi" method=get>
          <div class="align_buttons_right">
            <input type="hidden" name="search_type" value="<TMPL_VAR NAME=search_type>"/>
            <input type="hidden" name="dbID" value="<TMPL_VAR NAME=dbID>"/>
            <input id="button" type="submit" name="login" value="Update Phenotype Tree" class="btn btn-primary btn-sm"/>
          </div>
        </form>
      </TMPL_IF>
    </div>
    <div class="clear"></div>
  </div>

  <div id="new_phenotype">
    <div class="show_add_publication button_right">
      <TMPL_IF NAME=logged_in>
        <input type="button" name="show_add_publication" value="Add New Phenotype" class="btn btn-primary btn-sm show_add_publication_button"/>
      <TMPL_ELSE>
        <form id="login_form" action="./handler.cgi" method=get>
          <input type="hidden" name="search_type" value="<TMPL_VAR NAME=search_type>"/>
          <input type="hidden" name="dbID" value="<TMPL_VAR NAME=dbID>"/>
          <input id="button" type="submit" name="login" value="Add New Phenotype" class="btn btn-primary btn-sm"/>
        </form>
      </TMPL_IF>
    </div>
    <div class="add_publication">
      <label>Select Phenotype from the Human Phenotype Ontology List:</label>
      <form id="add_publication" role="form" method="post" action="./handler.cgi">
        <div class="form-group">
          <input id="query_phenotype_name" type="text" name="phenotype_name" placeholder="Select phenotype name" class="form-control">
        </div>
        <div class="align_buttons_right">
          <input type="hidden" name="GFD_id" value="<TMPL_VAR NAME=GFD_id>"/>
          <input id="button" type="submit" class="btn btn-primary btn-sm" name="add_phenotype" value="Add"/>
          <input type="button" value="Discard" class="btn btn-primary btn-sm discard_add_publication"/>
        </div>
      </form>
    </div>
  </div>
  <div class="clear"></div>

  <TMPL_LOOP NAME=phenotypes>
    <div class="phenotype_list">
      <div class="phenotype_left">
        <a href="http://www.human-phenotype-ontology.org/hpoweb/showterm?id=<TMPL_VAR NAME=stable_id>"><TMPL_VAR NAME=name></a>
      </div>
      <TMPL_IF NAME=logged_in>
        <div class="phenotype_right">
          <form id="GFD_phenotype" action="./handler.cgi" method="get">
            <input type="hidden" name="GFD_phenotype_id" value="<TMPL_VAR NAME=GFD_phenotype_id>"/>
            <input type="hidden" name="GFD_id" value="<TMPL_VAR NAME=GFD_id>"/>
            <input id="button" type="submit" name="delete_GFD_phenotype" value="Delete" class="btn btn-primary btn-sm"/>
          </form>
        </div>
      </TMPL_IF>
    </div>
    <div class="clear"></div>
  </TMPL_LOOP>
</div>
