<div>
  <h3>Publications</h3>
  <p>Title.</p>
  <ul>
  <li>More info.</li>
  <li>PMID: 123456789</li>
  </ul>
  <p>Comments:</p>
  <ul>
    <li>a comment. user. date</li>
    <li>another comment. user. date</li>
  </ul>
  <form action="">
    <textarea class="form-control" rows="3"></textarea>
    <br/>
    <input type="submit" />
  </form>
  <br/>
  <p>Title.</p>
  <ul>
  <li>More info.</li>
  <li>PMID: 123456789</li>
  </ul>
  <p>Comments:</p>
  <form action="">
    <textarea class="form-control" rows="3"></textarea>
    <br/>
    <input type="submit" />
  </form>
  <input type="submit"/>
</div>
