<div>
  <h3>Publications</h3>
  <TMPL_LOOP NAME=GFD_publications>
    <div class="publication">
      <TMPL_IF NAME=title>
        <p><TMPL_VAR NAME=title></p>
      <TMPL_ELSE>
        <p>PMID:<TMPL_VAR NAME=pmid></p>
      </TMPL_IF>
      <ul>
        <TMPL_IF NAME=source>
          <li><TMPL_VAR NAME=source></li>
        </TMPL_IF>
        <TMPL_IF NAME=pmid>
          <li>PMID:<TMPL_VAR NAME=pmid></li>
        </TMPL_IF>
      </ul>
      <TMPL_IF NAME=comments>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            <TMPL_LOOP NAME=comments>
              <tr>
                <td><TMPL_VAR NAME=user></td>
                <td><TMPL_VAR NAME=date></td>
                <td><TMPL_VAR NAME=comment_text></td>
              </tr>
            </TMPL_LOOP> <!-- end comments-->
          </tbody>
        </table>
      </TMPL_IF> <!-- end comments-->
        <div class="show_add_comment">
          <input type="button" name="show_add_comment" value="Add Comment" class="btn btn-primary btn-sm show"/>
        </div>
        <div class="add_comment">
          <form id="add_GFD_publication_comment" action="./handler.cgi" method=post>
            <textarea class="form-control" name="GFD_publication_comment" rows="3"></textarea>
            <input type="hidden" name="GFD_publication_id" value="<TMPL_VAR NAME=GFD_publication_id>"/>
            <input type="hidden" name="GFD_id" value="<TMPL_VAR NAME=GFD_id>"/>
            <input id="button" type="submit" name="add_GFD_publication_comment" value="Add" class="btn btn-primary btn-sm"/>
            <input type="button" value="Discard" class="btn btn-primary btn-sm discard_add_comment"/>
          </form>
        </div>
    </div> <!-- end class publication -->
  </TMPL_LOOP>  
</div>
