<div id="search" class="container">
  <TMPL_IF NAME=message>
    <div class="alert alert-<TMPL_VAR NAME=message_type>" role="alert">
      <p><TMPL_VAR NAME=message></p>
    </div>
  </TMPL_IF>

  <div "id=panel_image" style="float:left; margin-right: 25px"><img src="../images/G2P-<TMPL_VAR NAME=panel_img>.png" alt="panel_image" height="150" width="150"></div>

  <div id="search-body">
    <form id="search_field" method="get" action="./handler.cgi">
      <div style="float: left; margin-right: 0.5em;">
        <label>Search panel </label> 
        <select name="panel" id="select_panel">
          <TMPL_LOOP NAME=panel_img_loop>
            <option value="<TMPL_VAR NAME=panel_attrib_value>" <TMPL_VAR NAME=selected>><TMPL_VAR NAME=panel_attrib_value></option>
          </TMPL_LOOP>
        </select>
        <label>for:</label> 
      </div>
      <div style="margin-left: 25em;">
        <input id="button" type="submit" class="btn btn-primary btn-sm" style="float: right"/>
        <div style="overflow: hidden; padding-right: .5em;">
          <input id="query" type="text" name="search_term" style="width: 100%"/>
        </div>
      </div>
    </form>
    <div class="hint">
      <p>
        For example:
        <var onclick="document.forms.namedItem('search_field').search_term.value=this.innerHTML;">CRYBA1</var>,
        <var onclick="document.forms.namedItem('search_field').search_term.value=this.innerHTML;">ZEB2</var>,
        <var onclick="document.forms.namedItem('search_field').search_term.value=this.innerHTML;">TBX1</var>,
        <var onclick="document.forms.namedItem('search_field').search_term.value=this.innerHTML;">CHANARIN-DORFMAN SYNDROME</var> or 
        <var onclick="document.forms.namedItem('search_field').search_term.value=this.innerHTML;">MITOCHONDRIAL COMPLEX III DEFICIENCY, NUCLEAR TYPE 1</var> 
      </p>
    </div>
  </div> <!-- End search body-->
</div> <!--End search container-->
